* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222222;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.header {
  background-color: #777777;
  color: #f0f0f0;
  border-radius: 15px;
  font-size: 40px;
  margin: 10px;
  padding: 16px;
}

.review-main {
  display: flex;
  justify-content: center;
}

.review-title {
  margin-bottom: 24px;
  font-weight: 500;
}

.review-body {
  color: rgba(0, 0, 0, 0.657);
}

.review-card {
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 332px;
  font-size: 24px;
  font-weight: 400;
  padding: 16px;
  margin: 10px;
}

.cart {
  margin: 10px auto;
  padding: 16px;
  background-color: #d9d9d9;
  border-radius: 16px;
  margin-top: 100px;
  max-width: 332px;
}

.cart-title {
  color: #000;
  font-size: 36px;
  text-align: center;
}

.cart-detail {
  font-size: 24px;
  justify-content: space-between;
  margin: 20px 0;
}

.cart-product-details {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.cart-product-title {
  min-width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tel-input,
.form-btn {
  background-color: #222222;
  color: #f0f0f0;
  font-size: 36px;
  padding: 10px;
  border-radius: 15px;
}

.product-card {
  margin: 16px auto;
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 332px;
}

.product-title {
  font-size: 36px;
  color: #000;
  margin: 10px 0;
  text-align: center;
}

.product-description {
  color: #000;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.657);
  /* text-align: center; */
}

.product-price {
  font-size: 36px;
  color: #000;
  margin: 10px 0;
  text-align: center;
}
.img {
  width: 100%;
  border-radius: 15px;
  margin: 1px;
  height: 366px;
}

.cart-btn {
  padding: 14px 30px;
  color: #f0f0f0;
  background-color: #222222;
  font-size: 36px;
  font-weight: 400;
  border-radius: 15px;
}

.cart-input {
  padding: 14px 20px;
  width: 30%;
  color: #f0f0f0;
  background-color: #222222;
  font-size: 36px;
  font-weight: 400;
  border-radius: 15px;
  text-align: center;
}

.cart-main {
  display: flex;
  justify-content: space-between;
}

.cart-btn-buy {
  padding: 16px;
  width: 100%;
  color: #f0f0f0;
  background-color: #222222;
  font-size: 36px;
  font-weight: 400;
  border-radius: 15px;
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 96px;
    min-width: 1442px;
  }
  .review {
    display: flex;
    justify-content: center;
  }

  .cart {
    margin-top: 190px;
    min-width: 708px;
  }

  .form {
    flex-direction: row;
    justify-content: space-between;
  }

  .product-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    max-width: 1200px;
  }

  /* .buyBtn{
    border: 2px solid;
    
  } */
}
