* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 11px
}

.header {
  background-color: #777777;
  color: #f0f0f0;
  border-radius: 15px;
  font-size: 40px;
  height: 108px;
  width: 332px;
}
